.header-basic {
	background-color: #1E2629;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
	box-sizing: border-box;
    width: 100%;
    position: fixed;
    z-index: 150;
}

.header-basic .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-basic .header-limiter h1 {
	float: left;
	line-height: 40px;
	margin: 0;
}

.header-basic .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-basic .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-basic .header-limiter .menu{
	line-height: 40px;
	float: right;
}

.header-basic .header-limiter .menu a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
}

.header-basic .header-limiter .menu a:hover{
	opacity: 1;
}

.header-basic .header-limiter .menu a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

.menu a {
    border-bottom: 1px dotted transparent;
    color: #ffffff;
}

.menu a:hover {
    border-color: #ffffff;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-basic {
		padding: 20px 0;
		height: 75px;
	}

	.header-basic .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-basic .header-limiter .menu {
		line-height: 1;
		float:none;
	}

	.header-basic .header-limiter .menu a {
		font-size: 13px;
	}

}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(https://unsplash.imgix.net/uploads%2F14115408840644deb16b0%2F2dc933e3?q=75&fm=jpg&auto=format&s=7f43646e4d26049c6c39890afb2e5ced);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-image {
    padding-top: 100px;
    padding-bottom: 50px;
}

@media(min-width:768px) {
    header .intro-image {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-image .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}