/*--------------------------------------------------------------
Imports
--------------------------------------------------------------*/

@import "navigation.css";
@import "normalize.css";

/*--------------------------------------------------------------
Reset some basic elements
--------------------------------------------------------------*/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
Basic stylings
--------------------------------------------------------------*/
body {
  font-family: Muli, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
}

/*--------------------------------------------------------------
Wrapper
--------------------------------------------------------------*/
.wrapper { 
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer {
  border-top: 1px solid #e8e8e8;
  margin-top: 30px;
  padding: 5px 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: -webkit-calc(33% - (30px / 2));
  width: calc(33% - (30px / 2));
}

.footer-col-2 {
  width: -webkit-calc(33% - (30px / 2));
  width: calc(33% - (30px / 2));
  text-align: center;
}

.footer-col-3 {
  width: -webkit-calc(33% - (30px / 2));
  width: calc(33% - (30px / 2));
  text-align: right;
  }

@media screen and (max-width: 800px) {
  .footer-col-1, .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); }
  }

@media screen and (max-width: 600px) {
  .footer-col { float: none; width: -webkit-calc(100% - (30px / 2));
  width: calc(100% - (30px / 2)); }
}

/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
blockquote, dl, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul {
  margin: 1rem 0 0;
}

blockquote {
  color: #a09a92;
  font-style: italic;
  line-height: 1.4;
  position: relative;
  z-index: 10000;
}

blockquote::before {
  font-family: "Playfair Display", Georgia, serif;
  color: #ebe7e1;
  content: "\201C";
  display: block;
  font-size: 98px;
  font-size: 9.8rem;
  font-style: normal;
  left: -20px;
  line-height: 1;
  position: absolute;
  top: -25px;
  z-index: -1;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a#more,
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #d3d3d3 1px solid;
  margin: 40px 0;
  padding: 0; }

ol,
ul {
  margin-left: 15px; }

ol {
  list-style: decimal; }

li > ol,
li > ul {
  margin-bottom: 0;
  margin-left: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

strong, b {
  font-weight: bold;
}

pre, code {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: rgba(0,0,0,.05);
  font-family: Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: .833rem;
}

code {
  padding: 1px 5px;
}

#metadata {
  color: #888;
  font-size: 0.8em;
  margin-bottom: 30px;
}

img {
    max-width: 100%;
}

article h3 {
    margin: 0;
    text-align: left;
    border-bottom: 1px solid #d8e2eb;
    padding-bottom: 10px;
    line-height: 1.1;
}

/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
  color: #3a3a3a;
  text-decoration: none;
}

.post a:visited, .post a:focus, .post a:active {
  color: #AE0202;
}

.post a {
  color: #AE0202;
  text-decoration: underline;
}

.site-footer a, .site-footer a:visited {
  color: #828282;
}

a:active,
a:focus,
a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.readmore a {
    font-size: 14px;
    margin: -20px 0 0;
    padding: 5px 10px;
    float: right;
}

/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
.site-content {
  min-height: calc(100% - 274px);
  padding-top: 70px;
}

.inside-wrapper {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 50px;
}

article {
  padding: 25px;
  background: #fff;
  margin-top: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border: 1px solid #e8e8e8;
}

.post-preview {
  clear: left;
  padding-bottom: 15px;
  text-align: justify;
  text-justify: distribute;
  word-break: normal;
}

.position-left {
    float: left;
    margin-right: 10px;
}
.position-left img {
    display: block;
    margin: 1rem 0 0;
}

.post-content {
    float: right;
}

.twocol-col-1 {
  width: 25%;
}

.twocol-col-2 {
  width: 75%;
}