/*--------------------------------------------------------------
Imports
--------------------------------------------------------------*/
@import "header.css";
@import "footer.css";
@import "normalize.css";

/*--------------------------------------------------------------
Reset some basic elements
--------------------------------------------------------------*/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
Basic stylings
--------------------------------------------------------------*/
body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 170%;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
}

/*--------------------------------------------------------------
Wrapper
--------------------------------------------------------------*/
.wrapper { 
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.wrapper {
    margin-top: 100px;
}
.section-inner {
    width: 1040px;
    max-width: 86%;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer {
  border-top: 1px solid #e8e8e8;
  margin-top: 30px;
  padding: 5px 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: -webkit-calc(33% - (30px / 2));
  width: calc(33% - (30px / 2));
}

.footer-col-2 {
  width: -webkit-calc(33% - (30px / 2));
  width: calc(33% - (30px / 2));
  text-align: center;
}

.footer-col-3 {
  width: -webkit-calc(33% - (30px / 2));
  width: calc(33% - (30px / 2));
  text-align: right;
  }

@media screen and (max-width: 800px) {
  .footer-col-1, .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); }
  }

@media screen and (max-width: 600px) {
  .footer-col { float: none; width: -webkit-calc(100% - (30px / 2));
  width: calc(100% - (30px / 2)); }
}

/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
blockquote, dl, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul {
  margin: 1rem 0 0;
}

blockquote {
  color: #a09a92;
  font-style: italic;
  line-height: 1.4;
  position: relative;
  z-index: 99;
}

blockquote::before {
  font-family: "Playfair Display", Georgia, serif;
  color: #ebe7e1;
  content: "\201C";
  display: block;
  font-size: 98px;
  font-size: 9.8rem;
  font-style: normal;
  left: -20px;
  line-height: 1;
  position: absolute;
  top: -25px;
  z-index: -1;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a#more,
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #d3d3d3 1px solid;
  margin: 40px 0;
  padding: 0; }

ol,
ul {
  margin-left: 15px; }

ol {
  list-style: decimal; }

li > ol,
li > ul {
  margin-bottom: 0;
  margin-left: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

strong, b {
  font-weight: bold;
}

pre, code {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: rgba(0,0,0,.05);
  font-family: Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: .833rem;
}

code {
  padding: 1px 5px;
}

#metadata {
  color: #888;
  font-size: 0.8em;
  margin-bottom: 30px;
}

img {
    max-width: 100%;
}

/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
  color: #3a3a3a;
  text-decoration: none;
}

.post a:visited, .post a:focus, .post a:active {
  color: #AE0202;
}

.post a {
  color: #AE0202;
  text-decoration: underline;
}

.site-footer a, .site-footer a:visited {
  color: #828282;
}

a:active,
a:focus,
a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.readmore a {
    font-size: 14px;
    margin: -20px 0 0;
    padding: 5px 10px;
    float: right;
}

/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
.site-content {
  min-height: calc(100% - 274px);
  padding-top: 70px;
}

.inside-wrapper {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 50px;
}

article {
  display: block;
}

.post-preview {
  clear: left;
  padding-bottom: 15px;
  text-align: justify;
  text-justify: distribute;
  word-break: normal;
}

.position-left {
    float: left;
    margin-right: 10px;
}
.position-left img {
    display: block;
    margin: 1rem 0 0;
}

.post-content {
    float: right;
}

.twocol-col-1 {
  width: 25%;
}

.twocol-col-2 {
  width: 75%;
}


/** NEW **/

.blog_post {
    margin-bottom: 35px;
    border-bottom: 1px dotted #ddd;
    padding-bottom: 40px;
}

.blog_post_control {
    margin-top: 40px;
}

.blog_post_control_item {
    float: right;
    font-size: 16px;
}

.blog_post_control_item a {
    height: 38px;
    padding: 0 22px;
    line-height: 38px;
    display: inline-block;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border: 1px solid #ac0;
    color: inherit;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.blog_post_control_item a:hover, .blog_post_control_item .share_item.share_sign:hover {
	background-color: #ac0;
	color: #fff;
  text-decoration: none;
}

.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}

.home h2 {
    letter-spacing: 0.8px;
    margin-top: 0;
    letter-spacing: 0.8px;
    line-height: 35px;
    font-size: 2em;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 15px;
}

.content {
    width: 65%;
}

.left {
    float: left;
}

.sidebar {
    width: 27.5%;
}
.right {
    float: right;
}

.clear {
    clear: both;
}

.sidebar-title {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    color: #444;
}

.sidebar-part {
    padding-bottom: 15%;
    border-bottom: 3px solid #EEE;
    margin-bottom: 15%;
}

.sidebar-part:last-child {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}

.sidebar-part-content {
    color: #555;
    font-size: 1rem;
    line-height: 140%;
}

.sidebar-part-content :last-child {
    margin-bottom: 0;
}

.sidebar-part-content > ul > li:first-child {
    border-top: 0;
}

.sidebar-part-content ul li {
    padding: 10px 0;
    border-top: 1px solid #EEE;
    line-height: 130%;
    list-style: none;
}

.sidebar-recent-posts a {
    color: #ac0;
    text-decoration: none;
    outline: none;
}

li, ol, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    text-align: left;
}

.post ul {
  list-style: disc;
  margin-left: 1.5em;
  line-height: 170%;
  margin-bottom: 1.1em;
}

.post-content ol {
  list-style: decimal;
  margin-left: 1.5em;
  line-height: 170%;
  margin-bottom: 1.1em;
}

.post li {
  margin-bottom: 0.5em;
  line-height: 170%;
}

.tag-cloud a {
    display: block;
    float: left;
    padding: 8px 11px;
    line-height: 1;
    margin: 0 5px 5px 0;
    background: #BBB;
    color: #FFF;
    border-radius: 3px;
}

.sidebar-tag-cloud .tag-cloud a {
    font-size: 0.9em !important;
}