permalink: /about/
title: Über mich
layout: default.liquid
data:
  route: about
---
<!-- Start content left -->
<div class="content left">
    <!-- Start post -->
    <div class="posts">
        <article>
        <!-- Start post-header -->
        <div class="post-header">
            <h2 class="post-title">Über mich / About me</h2>
        </div>
        <!-- End post-header -->
        <!-- Start post-content -->
        <div class="post-content">
            <img src="../img/2017_Portraet.png" alt="Thats me"/>
            <p>Ich bin Thomas, verheiratet und Vater eines Sohnes. Ich arbeite bei der <a href="http://www.bachmann.info/">Bachmann electronic GmbH</a> als technischer Redakteur. Ich besitze gute analytische Fähigkeiten und ein ausgeprägtes technische Verständnis. Ich bin ein <a href="https://www.aikido-weiler.de/">Aikidoka</a>.</p>
            <p>In meiner knappen Freizeit programmiere ich gern. Ich bin zertifizierter Java-Entwickler, aber momentan beschäftige ich mich lieber mit Rust. Ich mag die Konzepte dahinter und so versuche ich mich aktuell in diese faszinierende Sprache einzuarbeiten.</p>
            <p>Sie finden mich auf 
                <a href="http://github.com/thowenzel/">Github</a>,&nbsp;
                <a href="http://stackoverflow.com/users/5028268/thomas-w">Stack Overflow</a>,&nbsp;und&nbsp;
                <a href="https://www.linkedin.com/in/thomas-wenzel-667918b6/">LinkedIn</a>.
            </p>
            <hr/>
            <p>I'm Thomas, husband and father of a son. I work at <a href="http://www.bachmann.info/">Bachmann electronic GmbH</a> as a experienced technical writer with high analytical skills and technical understanding. I'm an <a href="https://www.aikido-weiler.de/">Aikidoka</a>.</p>
            <p>In my rare sparetime I like to code something. I'm a certified Java developer, but I like the concepts from Rust, so now I try to learn this amazing language.</p>
            <p>You can find me on
                <a href="http://github.com/thowenzel/">Github</a>,&nbsp;
                <a href="http://stackoverflow.com/users/5028268/thomas-w">Stack Overflow</a>,&nbsp;and&nbsp;
                <a href="https://www.linkedin.com/in/thomas-wenzel-667918b6/">LinkedIn</a>.
            </p> 
        </div>
        <!-- End post-content -->
        </article>
    </div>
    <!-- End post -->
</div>
<!-- End content left -->

<div class="sidebar right">
    <div class="widget widget-recent-posts">
        <div class="widget-content">
            <h3 class="widget-title">Neueste Beiträge</h3>
            <ul>
                {% for post in collections.posts.pages %}
                <li>
                    <a href="/{{ post.permalink }}">{{ post.title }}</a>
                </li>
                {% endfor %}
			</ul>
        </div>
    </div>
</div>
<div class="clear"></div>