extends: default.liquid

title: Über mich
route: about
path: about/
---
<div>
    <h2>Über mich</h2>
    <div class="position-left twocol-col-1">
        <img src="../img/myportrait_aikidoka.png" alt="Thats me">
    </div>
    <div class="position-right twocol-col-2">
        <p>I'm Thomas, I work at <a href="http://www.bachmann.info/">Bachmann electronic GmbH</a> as a experienced technical writer with high analytical skills and technical understanding. I'm an <a href="https://www.aikido-weiler.de/">Aikidoka</a>.</p>
        <p>In my rare sparetime I like to code something. I'm a certified Java developer, but I like the concepts from Rust, so now I try to learn this amazing language.</p>
        <p>You can find me on
            <a href="http://github.com/thowenzel/">Github</a>,&nbsp;
            <a href="http://stackoverflow.com/users/5028268/thomas-w">Stack Overflow</a>,&nbsp;and&nbsp;
            <a href="https://www.linkedin.com/in/thomas-wenzel-667918b6/">LinkedIn</a>.
        </p>
    </div>
</div>    
