extends: default.liquid

title: Über mich
route: about
path: about/
---
<p>
I'm Thomas, I work at <a href="http://www.bachmann.info/">Bachmann electronic GmbH</a> as a experienced technical writer with high analytical skills and technical understanding. I'm an <a href="https://www.aikido-weiler.de/">Aikidoka</a>.'
</p>

<p>In my rare sparetime I like to code something. I'm a certified Java developer, I like Python, but my favorite programming language is Rust.</p>

<p>
You can find me on 
<a href="http://github.com/thowenzel/">Github</a>,&nbsp;
<a href="http://stackoverflow.com/users/5028268/thomas-w">Stack Overflow</a>,&nbsp;and&nbsp;
<a href="https://www.linkedin.com/in/thomas-wenzel-667918b6/">LinkedIn</a>.
</p>
