extends: default.liquid
---
<div class="home">
  <div>
    {% for post in posts %}
      <article>
        <h3><a href="{{ post.path }}">{{ post.title }}</a></h3>
        <div class="post-preview">
          {{ post.content | truncatewords: 30, '...' }}
        </div>
        <p class="readmore">
          <a href="{{ post.path }}">Weiterlesen >></a>
        </p>
      </article>
    {% endfor %}
  </div>
</div>
