extends: default.liquid
---
<div class="home">
  <h2>My nerdy notes</h2>
  <!--<br />-->
  <div>
    {% for post in posts %}
      <div>
        <h4><a href="{{post.path}}">{{ post.title }}</a></h4>
      </div>
    {% endfor %}
  </div>
</div>
