extends: default.liquid
---
<div class="home">
  <div>
    {% for post in posts %}
      <article>
        <div class="blog_post clearfix">
          <h3><a href="{{ post.path }}">{{ post.title }}</a></h3>
          <div class="post-preview clearfix">
            {{ post.content | truncatewords: 30, '...' }}
            <div class="blog_post_control clearfix">
              <div class="blog_post_control_item blog_post_readmore">
                <a class="read_more_link" href="{{ post.path }}">Weiterlesen</a>
              </div>
            </div>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</div>
