<!DOCTYPE html>
<html>
  <head>
    {% include "_head.liquid" %}
  </head>

  <body class="blog">
    {% include "_header.liquid" %}
    <main class="site-content">
     <div class="wrapper section-inner">
        {% if page.collection == "posts" %}
          {% include "post.liquid" %}
        {% else %}
          {{ page.content }}
        {% endif %}
      </div>
    </main>
    {% include "_footer.liquid" %}
  </body>
</html>
