<div class="posts">
  <article>
    <!-- Start post-header -->
      <div class="post-header">
        <h2 class="post-title">{{ page.title }}</h2>
      <div class="post-meta">
        <span class="post-date">
          {% if page.published_date %}
            <i>Veröffentlicht am {{ page.data.humandate }}</i>
          {% endif %}
        </span>
        <span class="post-date">
          {% if page.data.tags %}
            <i> - tags: {{ page.data.tags }}</i>
          {% endif %}
        </span>
      </div>
      <!-- End post-header -->
      <!-- Start post-content -->
      <div class="post-content">
        {{ page.content }}
      </div>
      <!-- End post-content -->
    </article>
</div>
