<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <a href="/license/">CC BY-SA 4.0 / MIT</a>
      </div>
      <div class="footer-col  footer-col-2">
        Built with ❤️ and 
        <a href="https://github.com/cobalt-org/cobalt.rs">Cobalt</a>
      </div>
      <div class="footer-col  footer-col-3">
        <a href="https://github.com/thowenzel/">Github</a>
      </div>
    </div>
  </div>
</footer>