<footer>
    <div class="splitter"></div>
	<div class="bar">
		<div class="bar-wrap">
			<ul class="links">
				<li><a href="https://thowenzel.github.io/">Home</a></li>
				<li><a href="/archiv">Archiv</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/license/">License</a></li>
			</ul>
			<div class="social">
				<a href="https://github.com/thowenzel">
					<i class="fa fa-github" aria-hidden="true"></i>Github
				</a>
			</div>
			<div class="clear"></div>
			<div class="copyright">&copy; 2014 built with ❤️ and 
        		<a href="https://github.com/cobalt-org/cobalt.rs">Cobalt</a></div>
		</div>
	</div>
</footer>