<!-- Navigation -->
<nav class="header-basic">
    <div class="header-limiter">
    	<h1><a href="https://thowenzel.github.io/">My nerdy blog</span></a></h1>
		<div class="menu">
    		<a href="/">Home</a>
			<a href="/archiv">Archiv</a>
	    	<a href="/about">About</a>
        </div>
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-image"/>
    </div>
</header>