<!-- Start Open Graph Meta Tags -->
<meta property="og:title" content="My nerdy blog - Thomas Wenzel">
<meta property="og:image" content="thowenzel.github.io/assets/thowenzel_og_preview.png">
<meta property="og:site_name" content="My nerdy blog">
<meta property="og:description" content="Personal website of Thomas Wenzel. Rust lover.">
<meta property="og:url" content="https://thowenzel.github.io/">
<meta property="og:type" content="website">
<!-- End Open Graph Meta Tags -->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Thomas Wenzel"/>
<meta name="description" content="Personal website of Thomas Wenzel. Rust lover."/>
<meta name="keywords" content="rust">

<title>My nerdy notes</title>

<link rel="stylesheet" href="../css/styles.css">
<link rel="stylesheet" href="../css/font-awesome.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
