<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>My nerdy notes</title>

      <link rel="stylesheet" href="../css/main.css">
      <link rel="stylesheet" href="../css/font-awesome.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" >

      <meta name="author" content="Thomas Wenzel"/>
      <meta name="description" content="Personal website of Thomas Wenzel. Rust lover."/>
    </head>
    <body>
    {{ include "_layouts/_header.liquid" }}
    <main class="site-content">
     <div class="wrapper section-inner">
        {% if is_post %}
          {% include '_layouts/post.liquid' %}
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    </main>
    {{ include "_layouts/_footer.liquid" }}
  </body>
</html>
