<!DOCTYPE html>
<html>
  <head>
    {{ include "_layouts/_head.liquid" }}
  </head>

  <body class="blog">
    {{ include "_layouts/_header.liquid" }}
    <main class="site-content">
     <div class="wrapper section-inner">
        {% if is_post %}
          {% include '_layouts/post.liquid' %}
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    </main>
    {{ include "_layouts/_footer.liquid" }}
  </body>
</html>
