<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>My nerdy notes</title>

      <link rel="stylesheet" href="../css/main.css">
      <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

      <meta name="author" content="Thomas Wenzel">
      <meta name="description" content="Personal website of Thomas Wenzel. Rust lover."/>
    </head>
    <body>
    <!--Navigation-->
    <header class="site-header">
      <div class="site-header-inside">
        <div class="logo">
          <a href="https://thowenzel.github.io/" rel="home">
            <img src="../assets/avatar.png" alt="avatar" height="60">
          </a>
        </div>
    <!-- Navigation -->
    <nav class="navbar">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse">
        <ul class="navbar-nav">
          <li>
            <a href="https://thowenzel.github.io/">              
              Home
            </a>
          </li>
          <li>
            <a href="/archives">
              Archiv                
            </a>
          </li>
          <li>
            <a href="/about">   
              Über mich     
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>
</header>
    <!--Main content-->
    <div class="site-content">
     <div class="content-area">
        {% if is_post %}
          {% include '_layouts/post.liquid' %}
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    </div>
    {{ include "_layouts/_footer.liquid" }}
  </body>
</html>
