<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>My nerdy notes</title>

      <meta name="author" content="Thomas Wenzel">
      <meta name="description" content="Personal website of Thomas Wenzel. Rust lover."/>
    </head>
    <body>
    <div>
      {% if is_post %}
        {% include '_layouts/post.liquid' %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
    {{ include "_layouts/_footer.liquid" }}
  </body>
</html>
