<div class="post">
  <h2>{{ title }}</h2>
  <div class="post-body">
    {% if date %}
      <div id="published-date">
        <i>Veröffentlicht am {{ humandate }}</i>
      </div>
    {% endif %}
      {{ content }}   
  </div>
</div>
